<h1>The Triangle Nazi</h1>
<form action="/returned_value">
  <div class="form-group">
    <label for="first_side">You enter your first side now!!!</label>
    <input id="first_side" name="first_side" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="second_side">And your second side...</label>
    <input id="second_side" name="second_side" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="third_side">Hurry up, I don't have all day!</label>
    <input id="third_side" name="third_side" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Let's get this over with.</button>
</form>
